<div
  class="h-full w-full bg-gradient-to-r from-red-200 to-red-300 from-20% to-90%"
>
  <h3>About this page</h3>

  <div class="mx-auto card bg-base-100 h-1/3 w-8/12 shadow-xl">
    <div class="card-body text-wrap">
      <h2 class="card-title">
        Q2 Strategies Brighton, MI Software Engineer April 2022 - December 2023
      </h2>
      <p class="text-wrap">
        <li>
          Founding member of a development team responsible for the creation and
          continuous development of an internal website for a large
          international bank
        </li>
        <li>
          Reviewed merge requests, trained new employees, took leadership role
          in development and implementation of new features in Angular UI
          frontend application
        </li>
        <li>
          Maintained and updated database for our own app space, including
          creating and updating tables, incorporating data from several
          different data sources throughout the bank, incorporated them into our
          app following bank approved procedures Helped integrate vendor owned
          proprietary middleware technology
        </li>
        <li>
          Developed and maintained build pipeline Developed and maintained unit
          tests, end to end integration tests
        </li>
      </p>
    </div>
  </div>

  <div class="flex w-full flex-col border-opacity-50">
    <div class="divider h-3"></div>
  </div>

  <div class="mx-auto card bg-base-100 h-1/3 w-8/12 shadow-xl">
    <div class="card-body text-wrap">
      <h2 class="card-title">Infosys Limited Philadelphia, PA</h2>
      <h5>Senior Associate Full Stack Developer October 2021 - April 2022</h5>
      <p class="text-wrap">
        <li>
          Founding member of a development team responsible for the creation and
          continuous development of an internal website for a large
          international bank
        </li>
        <li>
          Reviewed merge requests, trained new employees, took leadership role
          in development and implementation of new features in Angular UI
          frontend application
        </li>
        <li>
          Maintained and updated database for our own app space, including
          creating and updating tables, incorporating data from several
          different data sources throughout the bank, incorporated them into our
          app following bank approved procedures Helped integrate vendor owned
          proprietary middleware technology
        </li>
        <li>
          Developed and maintained build pipeline Developed and maintained unit
          tests, end to end integration tests
        </li>
      </p>
      <!-- <h5></h5>
        <li></li>
          Founding member of a development team responsible for the creation and
          continuous development of an internal website for a large
          international bank
        </li>
        <li>
          Reviewed merge requests, trained new employees, took leadership role
          in development and implementation of new features in Angular UI
          frontend application
        </li>
        <li>
          Maintained and updated database for our own app space, including
          creating and updating tables, incorporating data from several
          different data sources throughout the bank, incorporated them into our
          app following bank approved procedures Helped integrate vendor owned
          proprietary middleware technology
        </li>
        <li>
          Developed and maintained build pipeline Developed and maintained unit
          tests, end to end integration tests
        </li> -->
    </div>
  </div>

  <div class="flex w-full flex-col border-opacity-50">
    <div class="divider h-3"></div>
  </div>

  <div class="mx-auto card bg-base-100 h-1/3 w-8/12 shadow-xl">
    <a
      href="https://www.linkedin.com/in/james-distefano-b033aa154"
      class="btn btn-primary"
      >Hire Now!</a
    >
  </div>
</div>
